<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= camelized %></title>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="/application.css" rel="stylesheet">
    <%% server.scripts do |script| %>
      <script src="<%%= script.url %>"></script>
    <%% end %>
  </head>

  <body>
    <script src="/application.js"></script>
    <script type="text/javascript">
      minispade.require("<%= underscored %>/app");
    </script>
  </body>
</html>
