<!DOCTYPE html>

<%% if app.config.pipeline.manifest %>
  <html manifest="/cache.manifest">
<%% else %>
  <html>
<%% end %>

  <head>
    <meta charset="utf-8"/> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title><%= camelized %></title>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <%% app.config.scripts.each do |script| %>
      <script src="<%%= script %>"></script>
    <%% end %>

    <script type="text/javascript" src="/application.js"></script>

    <link href="/application.css" rel="stylesheet">
  </head>

  <body>
    <div id="application"></div>


    <script type="text/javascript">
      minispade.require("boot");
    </script>
  </body>
</html>

